.grow-down {
  animation: grow-down 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  transform-origin: top center;
}
.animation-delay-1 {
  animation-delay: 1s;
}

.grow-right {
  animation: grow-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation-delay: 0.25s;
  transform-origin: center left;
}

@keyframes grow-down {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes grow-right {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}



.marquee-left {
  animation: marquee-left 120s linear infinite;
}

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}